body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #83869A;
}

a{
    text-decoration: none;
    color: #F74780;
    font-weight: 700;
}

main{
    position: relative;
    background-image: linear-gradient(#FFFFFF 50%, rgb(239, 241, 254));
    max-width: 100vw;
    overflow: hidden;
    padding: 20px 140px 20px 150px;
}

/*texts*/

.title{
    color: #16183f;
    font-weight: 800;
}
.title--white{
    color: #FFFFFF;
    font-weight: 800;
}

.title--xl{
    font-size: 56px;
    line-height: 70px;
}

.title--l{
    font-size: 40px;
    line-height: 51px;
}

.title--m{
    font-size: 32px;
    line-height: 40px;
}

.title--s{
    font-size: 24px;
    line-height: 28px;
}

.text--m{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
/*end of texts*/

/*buttons*/

.button--1{
    color: #FFFFFF;
    background-color: #16183f;
    height: 55px;
    width: 160px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 27px;
    border: none;
}

.button--1:hover {
    background-color: #666CA3;
}


.button--2{
    color: #FFFFFF;
    background-image: linear-gradient(#FF6F48, #F02AA6);
    height: 55px;
    width: 160px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 27px;
    border: none;
}
.button--2:hover{
    background-image: linear-gradient(rgba(255, 111, 72, 0.5), rgba(240, 42, 166, 0.5));
}

.button--3{
    color: #FFFFFF;
    background-image: linear-gradient( #8c57f5,#F02AA6);
    height: 55px;
    width: 160px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 27px;
    border: none;
}
.button--3:hover{
    background-image: linear-gradient(rgba(140, 87, 245, 0.63), rgba(240, 42, 166, 0.63));
}
/*end of buttons*/

/*laptop 1190*/
@media screen and (max-width: 1190px){
    main{
        padding: 20px 50px 20px 50px;
    }
}

/*mobile 425*/

@media screen  and (max-width: 425px){
    main{
        position: relative;
        background-image: linear-gradient(#FFFFFF 50%, rgb(239, 241, 254));
        max-width: 100vw;
        overflow: hidden;
        padding: 0;
    }

}
