
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation > img{
    height: 26px;
}

.navigation > button{
    z-index: 1;
}

/*first fold*/

.firstContainer{
    display: flex;
    width: 100%;
    height: 100vh;

}

.container--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    gap: 30px;
}

.container--content p{
    width: 440px;
}

.firstContainer--img{
    background-image: url("../../assets/image-hero-desktop@2x.png");
    background-size:cover ;
    background-repeat: no-repeat;
    position: absolute;
    top: -150px;
    right: 0;
    width: 735px;
    height: 1000px;
}

/*laptop 1024*/

@media screen and (max-width: 1024px){
    .firstContainer--img{
        position: absolute;
        top: -129px;
        width: 550px;
        height: 820px;
    }
}

/*tablet 768*/

@media screen  and (max-width: 768px){
    .firstContainer--img{
        background-image: url("../../assets/image-hero-tablet@2x.png");
        top: -87px;
        width: 379px;
        height: 697px;
    }

    .title--xl{
        font-size: 35px;
        line-height: 40px;
    }

    .container--content p{
        width: 410px;
    }

    .text--m{
        font-size: 16px;
    }
}

/*mobile 425*/

@media screen  and (max-width: 425px){
    .navigation{
        margin: 20px;
    }

    .firstContainer{
        flex-direction: column;
        height: 150vh;
    }

    .container--content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 30px;
        margin: 20px;
    }

    .title--xl{
        font-size: 40px;
        line-height: 70px;
    }

    .container--content p{
        width: 95%;
    }

    .firstContainer--img{
        background-image: url("../../assets/image-hero-mobile@2x.png");
        background-position: center;
        position: static;
        width: 100%;

    }

}