
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation > img{
    height: 26px;
}

.navigation > button{
    z-index: 1;
}
/*first fold*/

.firstContainer{
    display: flex;
    width: 100%;
    height: 100vh;

}

.container--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 40px;
}

.container--content p{
    width: calc(85%);
}

.firstContainer--img{
    position: absolute;
    top: -186px;
    right: -83px;
    width: 55%;
}


