footer{
    height: 110px;
    background-color: #13183F;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 150px;
}

@media screen and (max-width: 1300px){
    .footer{
        margin: 0 110px;
    }
}

/*mobile 425px*/
@media screen and (max-width: 425px){
    .footer{
        margin: 0 20px;
    }
}
