.skill{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card--courses{
    background-image: linear-gradient(#FF6F48, #F02AA6);
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 290px;
    height: 240px;
    padding: 35px 16px 35px 30px;
    border-radius: 10px;
    margin-bottom: 85px;
}

.card > img{
position: absolute;
    top: -30px;
}

.card > h2 {
    margin-top: 30px;
}

/*laptop 1024*/

@media screen and (min-width: 960px) and (max-width: 1300px) {
    .card{
        width: 240px;
        height: 210px;
        padding: 30px 16px 35px 30px;
    }
}

/*tablet 768*/

@media screen and (max-width: 768px) {
    .card{
        width: 240px;
        height: 210px;
        padding: 30px 16px 35px 30px;
    }
}