.skill{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 290px;
    padding: 35px 16px 35px 30px;
    margin-bottom: 85px;
}
.card--title{
    background-image: linear-gradient(#FF6F48, #F02AA6);
    height: 240px;
}

.card--courses{
    background-color: #FFFFFF;
    height: 240px;

}


.card > img{
position: absolute;
    top: -30px;
}

.card > h2 {
    margin-top: 30px;
}

/*laptop 1024*/

@media screen and (min-width: 960px) and (max-width: 1300px) {
    .card{
        padding: 30px 16px 35px 30px;
        width: 240px;
    }

    .card--title{
        height: 210px;
    }

    .card--courses{
        height: 210px;
    }
}

/*tablet 768*/

@media screen and (max-width: 768px) {
    .card{
        padding: 30px 16px 35px 30px;
        width: 240px;
    }

    .card--title{
        height: 210px;
    }

    .card--courses{
        height: 210px;
    }
}

/*mobile 425*/

@media screen  and (max-width: 425px) {
    .skill{
        width: 100%;
        justify-content: center;
    }

    .card{
        margin-bottom: 85px;
        width: 80%;
        padding: 30px 16px 35px 30px;
    }

    .card--title{
        height: 60px;
    }

    .card--title h2{
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 24px;
        height: 100%;
    }

    .card--courses{
        height: 210px;
    }
}